/* -----------------------  VARIABLES ----------------------------------*/
:root {
  /* COLORS */
  --background-dark: 230 35% 7%;
  --light-blue: 231 77% 90%;
  --white: 0 0% 100%;
  /* FONTS */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  --fs-fixed: 1.75rem;

  --ff-bellefair: "Bellefair", serif;
  --ff-barlow: "Barlow", sans-serif;
  --ff-barlow-c: "Barlow Condensed", sans-serif;
}

/* -----------------------  RESET CSS   ------------------------------- */

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------- GENERAL CLASSES ---------------- */

/* BACKGROUND COLORS */
.bg-dark {
  background-color: hsl(var(--background-dark));
}

.bg-white {
  background-color: hsl(var(--white));
}

.container {
  padding-inline: 2rem;
  margin-inline: auto;
}

.block {
  display: block;
}

.flex {
  display: flex;
  gap: var(--gap, 1.6rem);
}

.f-center {
  align-items: center;
  justify-content: center;
}

.flow > * + * {
  margin-top: var(--flow-space, 1.6rem);
}

.grid {
  display: grid;
  column-gap: var(--gap, 1.6rem);
}

.g-center {
  place-items: center;
}

.grid-container {
  display: grid;
  text-align: center;
  padding: 0 1rem 2rem 1rem;
}

.grid-container * {
  max-width: 50ch;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* FONT FAMILY */
.ff-bellefair {
  font-family: var(--ff-bellefair);
}

.ff-barlow {
  font-family: var(--ff-barlow);
}

.ff-barlow-c {
  font-family: var(--ff-barlow-c);
}

/* FONT SIZE */
.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-fixed {
  font-size: var(--fs-fixed);
}

/* FONT COLORS */
.text-white {
  color: hsl(var(--white));
}

.text-light {
  color: hsl(var(--light-blue));
}

.text-dark {
  color: hsl(var(--background-dark));
}

/* LETTER SPACING */
.ls-1 {
  letter-spacing: 2.35px;
}

.ls-2 {
  letter-spacing: 2.7px;
}

.ls-3 {
  letter-spacing: 4.75px;
}

/* LINE HEIGHT */
.fs-32,
.fs-56,
.fs-100,
.fs-150 {
  line-height: 1.1;
}

/* TEXT TRANSFORM */
.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/* -------------------------- COMPONENTS -------------------------------- */
body {
  grid-template-rows: min-content 1fr;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.skip-to-content {
  position: absolute;
  transform: translateY(-100%);
  background-color: hsl(var(--light-blue));
  border-radius: 2%;
  color: black;
  padding: 1rem;
  text-decoration: none;
  transition: transform 0.5s ease-in-out;
}

.skip-to-content:focus {
  transform: translateY(0);
}

header {
  align-items: center;
  justify-content: space-between;
}

.nav-underline > * {
  padding: var(--underline-gap, 1rem) 0;
  border-bottom: 0.2rem solid hsl(var(--white) / 0);
}

.nav-underline > *:hover,
.nav-underline > *:focus {
  border-color: hsl(var(--white) / 0.5);
  transition: 0.3s;
}

.nav-underline > .active {
  border-color: hsl(var(--white) / 1);
}

.logo {
  margin: 1.5rem;
}

.navigation-bar {
  --gap: clamp(2rem, 5vw, 3.125rem);
  background: hsl(var(--white) / 0.04);
  list-style: none;
  --underline-gap: 2rem;
}

@supports (backdrop-filter: blur(1.5rem)) {
  .navigation-bar {
    background: hsl(var(--white) / 0.04);
    backdrop-filter: blur(1.5rem);
  }
}

.navigation-bar a {
  text-decoration: none;
}

.navigation-bar a span {
  font-weight: 700;
  margin-right: 0.6875rem;
}

.mobile-nav-button {
  display: none;
}

.round-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: relative;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 0 3.6rem;
  text-decoration: none;
  z-index: 1;
}

.round-button::after {
  content: "";
  position: absolute;

  background-color: hsl(var(--white) / 0.3);
  border-radius: 50%;
  height: 100%;
  transition: transform 0.7s ease-in-out;
  width: 100%;
  z-index: -1;
}

.round-button:hover::after,
.round-button:focus::after {
  transform: scale(1.3);
}

.numbered-title {
  font-family: var(--ff-barlow-c);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

.numbered-title span {
  margin-right: 0.5em;
  font-weight: 700;
  color: hsl(var(--white) / 0.25);
}

.tab-nav > * {
  border-inline: 0;
  border-top: 0;
  background: none;
  cursor: pointer;
}

.tab-nav > [aria-selected="true"] {
  color: hsl(var(--white));
  border-color: hsl(var(--white) / 1);
}

.dot-nav > * {
  background-color: hsl(var(--white) / 0.25);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.5rem;
}

.dot-nav > *:hover,
.dot-nav > *:focus {
  background-color: hsl(var(--white) / 0.5);
}

.dot-nav > [aria-selected="true"] {
  background-color: hsl(var(--white) / 1);
}

.numbers-nav > * {
  aspect-ratio: 1;
  background: transparent;
  border: 1px solid hsl(var(--white) / 0.5);
  border-radius: 50%;
  cursor: pointer;
  padding: 0 1rem;
  width: clamp(2.5rem, 8vw, 5rem);
}

.numbers-nav > *:hover,
.numbers-nav > *:focus {
  border-color: hsl(var(--white));
}

.numbers-nav > [aria-selected="true"] {
  background-color: hsl(var(--white));
  color: hsl(var(--background-dark));
}

.home {
  background-image: url(../assets/home/background-home-mobile.jpg);
}

/*------------------- DESTINATION LAYOUT ---------------------------------------*/
.destination {
  background-image: url(../assets/destination/background-destination-mobile.jpg);
}

.destination .grid-container {
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "about";
}

.destination .numbered-title {
  grid-area: title;
}

.destination .grid-container img {
  grid-area: image;
  max-width: 50%;
}

.destination .tab-nav {
  grid-area: tabs;
}

.destination .about-destination {
  grid-area: about;
}

.destination-stats {
  flex-direction: column;
  border-top: 1px solid hsl(var(--white) / 0.2);
  padding-top: 2rem;
  margin-top: 2rem;
}

/*------------------- CREW LAYOUT ---------------------------------------*/
.crew {
  background-image: url(../assets/crew/background-crew-mobile.jpg);
}

.crew .grid-container {
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "about";
}

.crew .grid-container .numbered-title {
  grid-area: title;
}

.crew .grid-container img {
  border-bottom: 1px solid hsl(var(--white) / 0.2);
  max-width: 60%;
  grid-area: image;
}

.crew .grid-container .dot-nav {
  grid-area: tabs;
  --gap: 1rem;
}

.crew .grid-container .about-crew {
  grid-area: about;
}

.crew .grid-container h2 {
  color: hsl(var(--white) / 0.5);
}

/*------------------- TECHNOLOGY LAYOUT ---------------------------------------*/
.technology {
  background-image: url(../assets/technology/background-technology-mobile.jpg);
}

.technology .grid-container {
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "about";
  padding-inline: 0;
}

.technology .numbered-title {
  grid-area: title;
  margin: 2.4375rem;
}

.technology .grid-container img{
  max-width: 100%;
  grid-area: image;
}

.technology #tech-image-portrait {
  display: none;
}

.technology .numbers-nav {
  grid-area: tabs;
}

.technology .about-technology {
  grid-area: about;
  padding-inline: 1.8rem;
}

.about-technology h2 {
  margin-bottom: 1.625rem;
}

/* -------------------------- MEDIA QUERIES -------------------------------- */
/* MOBILE NAVIGATION MENU */
@media (max-width: 35rem) {
  .navigation-bar {
    flex-direction: column;
    --gap: 2rem;

    position: fixed;
    inset: 0 0 0 32%;
    z-index: 100;

    background: hsl(231, 39%, 7%, 0.98);
    border-left: 1px solid hsl(232, 40%, 18%);
    translate: 100%;
    transition: translate 0.5s ease-in-out;
    padding: min(10rem, 20vh) 2rem;
    --underline-gap: 0;
  }

  @supports (backdrop-filter: blur(1.5rem)) {
    .navigation-bar {
      background: hsl(var(--white) / 0.04);
      backdrop-filter: blur(1.5rem);
    }
  }

  .navigation-bar.menu-expanded {
    translate: 0%;
  }

  .navigation-bar a span {
    padding-left: 1rem;
    border-left: 2px solid hsl(var(--light-blue));
  }

  .navigation-bar.nav-underline > * {
    border: 0;
  }

  .mobile-nav-button {
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 2.5rem;
    z-index: 1000;

    background: none;
    border: 0;
    background-image: url(../assets/shared/icon-hamburger.svg);
    background-size: cover;
    transition: transform 0.5s ease-in-out;
    height: 1.25rem;
    width: 1.25rem;
  }

  .mobile-nav-button.menu-expanded {
    background-image: url(../assets/shared/icon-close.svg);
    transform: rotate(180deg);
  }
}

/* TABLETS */
@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }

  /* HOME */
  .home {
    background-image: url(../assets/home/background-home-tablet.jpg);
    background-position: center center;
  }

  /* DESTINATION */
  .destination {
    background-image: url(../assets/destination/background-destination-tablet.jpg);
    background-position: center center;
  }

  .destination .numbered-title {
    justify-self: start;
    margin: 2.4375rem;
  }

  .destination .destination-stats {
    flex-direction: row;
    justify-content: space-evenly;
  }

  /* CREW */
  .crew {
    background-image: url(../assets/crew/background-crew-tablet.jpg);
    background-position: center center;
  }

  .crew .grid-container {
    grid-template-areas:
      "title"
      "about"
      "tabs"
      "image";
    padding-bottom: 0;
  }

  .crew .numbered-title {
    justify-self: start;
    margin: 2.4375rem;
  }

  /* TECHNOLOGY */
  .technology {
    background-image: url(../assets/technology/background-technology-tablet.jpg);
  }

  .technology .numbered-title {
    justify-self: start;
  }
}

/* TABLETS ONLY */
@media (min-width: 35em) and (max-width: 60em) {
  .navigation-bar {
    padding-top: 0.625rem;
    padding-inline: 2.625rem;
  }

  .navigation-bar a span {
    display: none;
  }

  .logo {
    margin-left: 2.4375rem;
  }
}

/* LARGER SCREENS */
@media (min-width: 60em) {
  header {
    padding-block: 2.5rem;
    padding-left: 3.4375rem;
  }

  header::after {
    content: "";
    display: block;
    position: relative;
    order: 2;

    background: hsl(var(--white) / 0.3);
    margin-right: -7rem;
    height: 0.0625rem;
    width: 100%;
    z-index: 100;
  }

  header nav {
    order: 3;
  }

  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }

  .grid-container {
    column-gap: var(--gap, 2rem);
    grid-template-columns: minmax(6rem, 1fr) repeat(2, minmax(0, 60rem)) minmax(
        6rem,
        1fr
      );
    text-align: left;
  }

  /* HOME */
  .home .grid-container > *:first-child {
    grid-column: 2;
  }

  .home .grid-container > *:last-child {
    grid-column: 3;
  }

  .home .grid-container {
    align-items: end;
    padding-bottom: 8rem;
  }

  .home {
    background-image: url(../assets/home/background-home-desktop.jpg);
  }

  .navigation-bar {
    background: hsl(231, 39%, 7%, 0.8);
    padding: 0 10.3125rem 0 7.6875rem;
  }

  /* DESTINATION */
  .destination {
    background-image: url(../assets/destination/background-destination-desktop.jpg);
  }

  .destination .grid-container {
    grid-template-areas:
      ". title title ."
      ". image tabs ."
      ". image about .";

    place-items: start;
  }

  .destination .grid-container img {
    max-width: 90%;
  }

  .destination .destination-stats {
    --gap: 5rem;
    justify-content: start;
  }

  /* CREW */
  .crew {
    background-image: url(../assets/crew/background-crew-desktop.jpg);
    background-position: center center;
  }

  .crew .grid-container {
    grid-template-areas:
      ". title image ."
      ". about image ."
      ". tabs image .";
    place-items: start;
  }

  .crew .grid-container img {
    max-width: 90%;
    justify-self: center;
    align-self: end;
  }

  .crew .grid-container .numbered-title {
    margin: 0;
  }

  /* TECHNOLOGY */
  .technology {
    background-image: url(../assets/technology/background-technology-desktop.jpg);
  }

  .technology #tech-image-portrait {
    display: initial;
    grid-area: image;
    justify-self: end;
  }

  .technology #tech-image-landscape {
    display: none;
  }

  .technology .grid-container {
    grid-template-columns: minmax(6rem, 1fr) minmax(8rem, 10rem) repeat(
        2,
        minmax(0, 60rem)
      );
  }

  .technology .grid-container {
    grid-template-areas:
      ". title title title"
      ". tabs about image"
      ". tabs about image";
    place-items: start;
  }

  .technology .numbered-title {
    margin-top: 0;
    margin-left: 0;
  }

  .technology .numbers-nav {
    grid-area: tabs;
    flex-direction: column;
    --gap: 2.5rem;
  }

  .technology .about-technology {
    grid-area: about;
    max-width: 100%;
  }

  .about-technology p {
    line-height: 2rem;
  }
}
